.sadek{
    background-color: $green;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0px;
    text-align: center;
    line-height: 1.6;
}